* { padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* LAYOUT */

.container {
    max-width: 1170px;
    margin: 0 auto;
}


.row{
    display: flex;
    width: 100%;
}

.col-33 {
    width: calc(100% / 3 - 20px);
    margin: 10px 10px;

}

.col-50 {
    width: calc(100% / 2 - 20px);
    margin: 0 10px;
}


.menu-header ul li , .icons-header ul li , .footer-left ul li , .footer-right ul li  {
    display: inline-block;
}

.flex-wrap {
    flex-wrap: wrap;

}

h2 {
    font-weight: 400;
}

p {
    margin-top: 5px;
    font-weight: 300;
}

strong {
    margin-bottom: 5px;
}



/* AREA MENU */

header {
    background-color: orangered;
    padding: 10px 0px;
    box-shadow: 0 0 5px  black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}

.menu-header , .icons-header {
    height: 100%;
    display: flex;
    align-items: center;
}

.icons-header {
    justify-content: right;
}

.logo-header {
    text-align: center;
    
}


.menu-header ul .icons-header ul {
    list-style-type: none;
}


.menu-header ul li a , .icons-header ul li a {
    text-decoration: none;
    color: white;
}

.menu-header ul li a:hover , .icons-header ul li a {
    text-decoration: underline
}


.menu-header, .logo-header, .icons-header {
    height: 70px;
    width: 100%;
}

.logo-header img {
    margin-top: 10px;
    width: 200px;

}


/* FOOTER */

footer {
    background-color: black;
    padding: 30px 0px;
}


.footer-left strong, .footer-right strong {
    color: white;
}


.footer-left ul li a, .footer-right ul li a {
    text-decoration: none;
    color: white;
}

.footer-right {
    text-align: right;
}

/* MAIN */

main {
    margin: 150px 0px 30px 0px;
}


.card {
    width: 100%;
}

.img-content img {
    width: 100%;

}

.first-img {
    display: block;
}

.second-img {
    display: none;

}

.img-content{
    position: relative;
}

.heart-icon {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 5px;
    background-color: white;
}


.labels {
    position: absolute;
    bottom: 50px;

}


.red-label, .green-label {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
}

.red-label{
    background-color: red;
}

.green-label {
    background-color: green;
}


.offer {
    color: red;
    font-weight: 600;
    padding:0px 5px 0px 0px ;
}

.price-deleted {
    text-decoration:line-through ;
    padding: 0 5px;
    font-size: 14px;

}

.img-content:hover .first-img {
    display: none;
}



.img-content:hover .second-img {
    display: block;
}

.heart-icon:hover {
    color: red;

}