* { padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* LAYOUT */

.container {
    max-width: 1170px;
    margin: 0 auto;
}


.row{
    display: flex;
    width: 100%;
}

.col-33 {
    width: calc(100% / 3 - 20px);
    margin: 10px 10px;

}

.col-50 {
    width: calc(100% / 2 - 20px);
    margin: 0 10px;
}


.menu-header ul li , .icons-header ul li , .footer-left ul li , .footer-right ul li  {
    display: inline-block;
}

.flex-wrap {
    flex-wrap: wrap;

}



/* AREA MENU */

header {
    background-color: orange;
    padding: 10px 0px;
    box-shadow: 0 0 5px  black;
}

.menu-header , .icons-header {
    height: 100%;
    display: flex;
    align-items: center;
}

.icons-header {
    justify-content: right;
}

.logo-header {
    text-align: center;
    
}


.menu-header ul .icons-header ul {
    list-style-type: none;
}


.menu-header ul li a , .icons-header ul li a {
    text-decoration: none;
    color: white;
}

.menu-header ul li a:hover , .icons-header ul li a {
    text-decoration: underline
}


.menu-header, .logo-header, .icons-header {
    height: 100px;
    width: 100%;
}

.logo-header img {
    margin-top: 15px;
    width: 300px;

}


/* FOOTER */

footer {
    background-color: black;
    padding: 30px 0px;
}


.footer-left strong, .footer-right strong {
    color: white;
}


.footer-left ul li a, .footer-right ul li a {
    text-decoration: none;
    color: white;
}

.footer-right {
    text-align: right;
}

/* MAIN */

main {
    margin: 30px 0px;
}


.card {
    height: 500px;
    background-color: blue;
    width: 100%;
}




